<div class="container">
  <div class="row size-container">
    <!--
      -- ─── NAVIGATION ──────────────────────────────────────────────────
      -->
    <div class="col-md-2 containerSettings  ">
      <ul class="nav flex-md-column justify-content-center bg-white" id="naviBar">
        <li class="nav-item">
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
             aria-controls="v-pills-home" aria-selected="true" (click)="addAnimationInContainer()">
            <i class="material-icons">
              person
            </i>Skills
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
             aria-controls="v-pills-profile" aria-selected="false" (click)="addAnimationInContainer()">
            <i class="material-icons">
              person
            </i>Resume
          </a>

        </li>
        <li class="nav-item">
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
             aria-controls="v-pills-messages" aria-selected="false" (click)="addAnimationInContainer()">
            <i class="material-icons">
              person
            </i>Projects
          </a>
        </li>
        <!--<li class="nav-item">
    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
       aria-controls="v-pills-settings" aria-selected="false" (click)="addAnimationInContainer()">Contact</a>
  </li>-->
      </ul>
    </div>
    <!-- ───────────────────────────────────────────────────────────────── -->
    <!--
      -- ─── MY INFOS ────────────────────────────────────────────────────
      -->
    <div class="col-md-4 containerSettings text-center bg-white profileContainer shadow-lg " *ngIf="isloading">
      <img src="http://santosfabio.com/images/me3.jpg" class="img-fluid img-thumbnail img-size" alt="Responsive image">
      <h3>{{profileDataList.basics.name}}</h3>
      <p>{{profileDataList.basics.label}}</p>

      <button type="button" class="btn btn-primary btn-lg">Download CV</button>
      <button type="button" class="btn btn-secondary btn-lg">Contact Me</button>

    </div>
    <!--
      -- ─── TRANSITION INFOS ────────────────────────────────────────────
      -->
    <div class="col-md-6 containerSettings bg-white profileInfoContainers" *ngIf="isloading" id="animationContainer" >
      <!--- SKILLS ------------------------>
      <!---------------------------------------------------------------------------------------->
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" >
          <div>
            <h3>Skills</h3>
            <ul *ngFor="let item of profileDataList.skills; let i = index" class="dataList">
              <li>
                {{item.name}}
              </li>
              <li>
                {{item.level}}
              </li>
              <li>
                {{item.rating}}
              </li>
            </ul>
          </div>
        </div>
        <!---------------------------------------------------------------------------------------->
        <!-- RESUME  ------------------------->
        <!---------------------------------------------------------------------------------------->
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" >
          <h3>Work</h3>
          <ul *ngFor="let item of profileDataList.work; let i = index" class="dataList">
            <li class="position">
              {{item.position}}
            </li>
            <li class="company">
              {{item.company}}
            </li>
            <li>
              {{item.website}}
            </li>
            <li>
              {{item.startDate}}
            </li>
            <li>
              {{item.endDate}}
            </li>
          </ul>
          <h3>Education</h3>
          <ul *ngFor="let item of profileDataList.education; let i = index" class="dataList">
            <li>
              {{item.institution}}
            </li>
            <li>
              {{item.area}}
            </li>
            <li>
              {{item.description}}
            </li>
            <li>
              {{item.activities}}
            </li>
            <li>
              {{item.startDate}}
            </li>
            <li>
              {{item.endDate}}
            </li>
          </ul>
        </div>
        <!---------------------------------------------------------------------------------------->
        <!-- WORKS  ------------------------->
        <!---------------------------------------------------------------------------------------->
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <h3>Projects</h3>
          <ul *ngFor="let item of profileDataList.projects; let i = index" class="dataList">
            <li>
              {{item.displayName}}
            </li>
            <li>
              {{item.summary}}
            </li>
            <li>
              {{item.website}}
            </li>
            <li>
              {{item.githubUrl}}
            </li>
            <li>
              {{item.languages}}
            </li>
          </ul>
        </div>
        <!---------------------------------------------------------------------------------------->
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
          ...727uilui</div>
      </div>
    </div>
    <!-- ───────────────────────────────────────────────────────────────── -->

  </div>
</div>
