



<div class="container">
  <div class="row size-container">
    <!--
      -- ─── NAVIGATION ──────────────────────────────────────────────────
      -->
    <div class="col-md-2 containerSettings  ">
      <ul class="nav flex-md-column justify-content-center neumorphismsStyle " id="naviBar">
        <li class="nav-item">
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
             aria-controls="v-pills-home" aria-selected="true" (click)="addAnimationInContainer()">
            <i class="material-icons">
              person
            </i>Skills
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
             aria-controls="v-pills-profile" aria-selected="false" (click)="addAnimationInContainer()">
            <i class="material-icons">
              assignment
            </i>Resume
          </a>

        </li>
        <li class="nav-item">
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
             aria-controls="v-pills-messages" aria-selected="false" (click)="addAnimationInContainer()">
            <i class="material-icons">
              brush
            </i>Projects
          </a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
             aria-controls="v-pills-settings" aria-selected="false" (click)="addAnimationInContainer()">Contact</a>
        </li>-->
      </ul>
    </div>
    <!-- ───────────────────────────────────────────────────────────────── -->
    <!--
      -- ─── MY INFOS ────────────────────────────────────────────────────
      -->
    <div class="col-md-4 containerSettings text-center profileContainer neumorphismsStyle" *ngIf="isloading">
      <img src="http://santosfabio.com/images/me3.jpg" class="img-fluid img-thumbnail img-size neumorphismsStyle" alt="Responsive image">
      <h3 class="myName">{{profileDataList.basics.name}}</h3>
      <p class="jobname">{{profileDataList.basics.label}}</p>
      <div class="buttonsMyInfos">
        <button type="button" class="btn  btn-lg btn-block neumorphismsStyle buttonClick">Download CV</button>
        <button type="button" class="btn  btn-lg btn-block neumorphismsStyle buttonClick">Contact Me</button>
      </div>
    </div>
    <!--
      -- ─── TRANSITION INFOS ────────────────────────────────────────────
      -->
    <div class="col-md-6 containerSettings profileInfoContainers neumorphismsStyle" *ngIf="isloading" id="animationContainer">
      <!--- SKILLS ------------------------>
      <!---------------------------------------------------------------------------------------->
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <div>
            <h3 class="profilDataTitle">
              <i class="material-icons">
                code
              </i>Skills
            </h3>
            <div class="skillColumns">
              <ul *ngFor="let item of profileDataList.skills; let i = index" class="dataListSkills">
                <li class="skillsName">
                  {{item.name}}
                </li>
                <li>
                  {{item.level}}

                </li>



              </ul>
            </div>
          </div>
        </div>
        <!---------------------------------------------------------------------------------------->
        <!-- RESUME  ------------------------->
        <!---------------------------------------------------------------------------------------->
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <h3 class="profilDataTitle">
            <i class="material-icons">
              work
            </i>Work
          </h3>

          <ul *ngFor="let item of profileDataList.work; let i = index" class="dataList">
            <li class="date">
              {{item.startDate}} / {{item.endDate}}

            </li>

            <li class="position">
              {{item.position}}
            </li>
            <li class="company">
              {{item.company}}
            </li>
            <li class="website">
              <a href="{{item.website}}" target="_blank">{{item.website}}</a>
              
              <hr class="borders">
            </li>

          </ul>

          <h3 class="profilDataTitle">
            <i class="material-icons">
              school
            </i>Education
          </h3>
          <ul *ngFor="let item of profileDataList.education; let i = index" class="dataList">
            <li class="date">
              {{item.startDate}} / {{item.endDate}}
            </li>

            <li class="institution">
              {{item.institution}}
            </li>
            <li class="areaEduc">
              {{item.area}}
            </li>
            <li class="description">
              {{item.description}}
            </li>
            <li class="activities">
              {{item.activities}}
              <hr class="borders">
            </li>


          </ul>
        </div>
        <!---------------------------------------------------------------------------------------->
        <!-- WORKS  ------------------------->
        <!---------------------------------------------------------------------------------------->
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <h3 class="profilDataTitle"><i class="material-icons">
  brush
</i>Projects</h3>
          <ul *ngFor="let item of profileDataList.projects; let i = index" class="dataList">
            <li class="projectsDisplayName">
              <a href="{{item.githubUrl}}" target="_blank">{{item.displayName}}</a>
             
            </li>
            <li class="codeLanguages">
              {{item.languages}}
              
            </li>
            <li class="summary">
              {{item.summary}}
            </li>
            <li class="linkHtml">
              <a href="{{item.website}}" target="_blank">{{item.website}}</a>
              <hr class="borders">
            </li>
           

          </ul>
        </div>
        <!---------------------------------------------------------------------------------------->
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
          ...727uilui
        </div>
      </div>
    </div>
    <!-- ───────────────────────────────────────────────────────────────── -->

  </div>
</div>
<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
