.containerBorder{
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.img-size{
  height: 200px;
}

.size-container{
    height:800px;
}

.nav-size a{
    width:100px;
}
